{% extends 'base.html' %}

{% block content %}
    <h1 class="custom-heading">Welcome  to My Flask App</h1>
    <p class="custom-paragraph">Hello, {{ name }}!</p>         <!-- we use double curly braces for variable in JINJA  -->
    {% if sunny %}                                                <!-- how use condition statements in JINJA  -->
    <p> Today is sunny</p>
    {% else %}
    <p> Today is rainy</p>
    {% endif %}

    {% for tech_stack in tech_stacks %}                           <!-- how use for loop in JINJA  -->
        <h2> {{tech_stack.title}}</h2>
        <h2> Framework : {{tech_stack.framework}}</h2>
    {% endfor %}
{% endblock %}